<!--=== Slider: Popular items ===-->
<div class="slider-section u-bg-secondary mt-7 mb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="u-h1 u-font-serif u-weight-700 mb-3">Ассортимент</h2>
                <p class="mb-5">Вкусы знакомые с детства. И новые неожиданные десерты.</p>
            </div>
        </div>
        <div class="row js-slider">
            {{ range (where site.RegularPages "Type" "products") }}
            <div class="col-lg-4 col-sm-6 col-6 mb-4">
                <div class="card border-0 text-center">
                    <a href="{{ .Permalink }}">
                        <img src="{{ .Params.mainImage.url | absURL }}" alt="{{ .Title }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
                        <p>{{ .Params.Description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
            <span class="slider-arrow slider-arrow--prev js-arrow-prev">
					<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" stroke="#dcb36e" d="M5 10L1 5l4-5M40 5H1.5"/></svg>
				</span>
            <span class="slider-arrow slider-arrow--next js-arrow-next">
					<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" stroke="#dcb36e" d="M36 0l4 5-4 5M1 5h38.5"/></svg>
				</span>
        </div>
    </div>
</div>
<!--=== end of Slider: Popular items ===-->
