{{ define "main" }}

<script>
  if(location.pathname === '/') {
    console.log('redirecting to Russian version for now');
    location.pathname = '/ru/'
  }
</script>
<!--=== Hero ===-->
<div class="hero hero--sm u-bg-p-bottom" style="background-image: url('/farina/img/home/home-hero.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="hero__title u-font-serif" data-aos="zoom-in" style="color: white">{{ i18n "color_your_day" }}</h1>
        <p class="hero__subtitle mb-5 blur" data-aos="zoom-in" data-aos-delay="100" style="color: white; backdrop-filter: blur(8px); border-radius: 12px; font-style: italic; font-weight: normal; margin-bottom: -1em">{{ i18n "deserts_by_kseniia_paltseva" }}</p>

        <a href="products" class="btn js-on-page-nav" data-aos="zoom-in" data-aos-delay="100" style="color: white; margin-top: 0.5em;">{{ i18n "browse_products" }}</a>
        <a href="decorations" class="btn js-on-page-nav" data-aos="zoom-in" data-aos-delay="100" style="color: white; margin-top: 0.5em;">{{ i18n "decor_options" }}</a>
        {{ if eq $.Site.Params.LangCode "en" }}<a href="/ru/" class="btn" style="color: white; margin-top: 0.5em;">Russian / Русский</a>{{ end}}
<!--        {{ if eq $.Site.Params.LangCode "ru" }}<a href="/" class="btn" style="color: white; margin-top: 0.5em;">English</a>{{ end}}-->

      </div>
    </div>
  </div>
</div>
<!--=== end of Hero ===-->

<!--=== Story ===-->
{{ if site.Data.homepage.story.enable }}
{{ with site.Data.homepage.story }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6 d-none d-md-block">
        <img src="{{ .image | absURL }}" data-aos="zoom-in-right" />
      </div>
      <div class="col-md-6">
        <div class="story-block pl-md-4" data-aos="zoom-in-left" data-aos="zoom-in-left">
          <p class="story-block__upper-title" >{{ i18n "story_title" }}</p>
          <h2 class="story-block__title u-font-serif">
            {{ i18n "story_subtitle1" }}
            <br>
            {{ i18n "story_subtitle2" }}
          </h2>

          <p class="u-color-grey">{{ i18n "story_text_1" }}</p>
          <p>{{ i18n "story_text_2" }}</p>
          <p>{{ i18n "story_text_3" }}</p>
          <p>{{ i18n "story_text_4" }}</p>
          <p>{{ i18n "story_text_5" }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--=== end of Story ===-->

{{ partial "products_slider.html"}}

{{ end }}
