{{ define "main" }}

<!--=== Story ===-->
{{ if site.Data.homepage.story.enable }}
{{ with site.Data.homepage.story }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6 d-none d-md-block">
        <img src="{{ .image | absURL }}" data-aos="zoom-in-right" />
      </div>
      <div class="col-md-6">
        <div class="story-block pl-md-4" data-aos="zoom-in-left" data-aos="zoom-in-left">
          <p class="story-block__upper-title" >{{.title}}</p>
          <h2 class="story-block__title u-font-serif">
            {{ .subtitle1 }}
            <br>
            {{ .subtitle2 }}
          </h2>
          <p class="u-color-grey">

          </p>
          {{ range .text }}
          <p>{{ . }}</p>
          {{ end }}
          <p>
            So, <a href="order.html" class="btn-link">order</a> one of <a href="#menu" class="btn-link js-on-page-nav" data-aos="zoom-in" data-aos-delay="100">my cakes</a> if you curious what made me to become a cake maker!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--=== end of Story ===-->

<!--=== Slider: Popular items ===-->
<div class="slider-section u-bg-secondary mt-7 mb-7">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="u-h1 u-font-serif u-weight-700 mb-3">Most Popular</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
    <div class="row js-slider">
      <div class="col-md-4 js-slide">
        <div class="slider-item" style="background-image: url('assets/img/deserts/chocolate_rulet.jpg');">
          <span>Chocolate roulade</span>
        </div>
      </div>
      <div class="col-md-4 js-slide">
        <div class="slider-item" style="background-image: url('assets/img/deserts/chocolate_cake.jpg');">
          <span>Chocolate cake</span>
        </div>
      </div>
      <div class="col-md-4 js-slide">
        <div class="slider-item" style="background-image: url('assets/img/deserts/birthday_cake.jpg');">
          <span>Birthday cake</span>
        </div>
      </div>
      <div class="col-md-4 js-slide">
        <div class="slider-item" style="background-image: url('assets/img/deserts/napoleon_cake.jpg');">
          <span>Napoleon cake</span>
        </div>
      </div>
      <div class="col-md-4 js-slide">
        <div class="slider-item" style="background-image: url('assets/img/deserts/meringue_rulet.jpg');">
          <span>Meringue roulade</span>
        </div>
      </div>
      <span class="slider-arrow slider-arrow--prev js-arrow-prev">
					<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" stroke="#dcb36e" d="M5 10L1 5l4-5M40 5H1.5"/></svg>
				</span>
      <span class="slider-arrow slider-arrow--next js-arrow-next">
					<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" stroke="#dcb36e" d="M36 0l4 5-4 5M1 5h38.5"/></svg>
				</span>
    </div>
  </div>
</div>
<!--=== end of Slider: Popular items ===-->

<!-- about -->
{{ if site.Data.homepage.about.enable }}
{{ with site.Data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- material -->
{{ if site.Data.homepage.material.enable }}
{{ with site.Data.homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /material -->

<!-- advantage -->
{{ if site.Data.homepage.advantage.enable }}
{{ with site.Data.homepage.advantage }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .subtitle | markdownify }}</p>
        <ul class="list-unstyled" style="columns: 2;">
          {{ range .advantageList }}
          <li class="mb-3"><i class="ti-arrow-circle-right text-primary mr-2"></i>{{ .listItem }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-6">
        <img src="{{ .image | absURL}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /advantage -->

<!-- promo video -->
{{ if site.Data.homepage.video.enable }}
{{ with site.Data.homepage.video }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6">
        <div class="img-border rounded mb-5 mb-md-0">
          <img src="{{ .videoThumb | absURL }}" alt="video thumb" class="img-fluid rounded">
          <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal2"
            class="text-color video-modal content-center"><i class="ti-control-play bg-gradient btn-play-lg"></i></a>
          <!-- Modal -->
          <div class="modal fade" id="videoModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content border-0 rounded-0">
                <iframe width="560" height="315" src="" id="video2" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /promo video -->

<!-- products -->
{{ if site.Data.homepage.products.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        {{ with site.Data.homepage.products }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 6 (where site.RegularPages "Type" "products") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            {{ range first 1 .Params.Images }}
            <img src="{{ .image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
              {{ end }}
              <span class="lead text-primary">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
            </div>
            <button class="snipcart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
              {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}">
              Add to cart
            </button>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /products -->

<!-- testimonial -->
{{ if site.Data.homepage.testimonial.enable }}
{{ with site.Data.homepage.testimonial }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{ range .testimonialItem }}
      <div class="col-4">
        <div class="card border-primary text-center">
          <div class="card-body">
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}">
            <p class="quoted">{{ .content | markdownify }}</p>
            <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
            <small>{{ .designation | markdownify }}</small>
            <ul class="list-inline rating {{ .rating | lower }} mt-3">
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
