{{ define "main" }}

<!--=== Story ===-->
{{ if site.Data.homepage.story.enable }}
{{ with site.Data.homepage.story }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6 d-none d-md-block">
        <img src="{{ .image | absURL }}" data-aos="zoom-in-right" />
      </div>
      <div class="col-md-6">
        <div class="story-block pl-md-4" data-aos="zoom-in-left" data-aos="zoom-in-left">
          <p class="story-block__upper-title" >{{ i18n "story_title" }}</p>
          <h2 class="story-block__title u-font-serif">
            {{ i18n "story_subtitle1" }}
            <br>
            {{ i18n "story_subtitle2" }}
          </h2>

          <p class="u-color-grey">{{ i18n "story_text_1" }}</p>
          <p>{{ i18n "story_text_2" }}</p>
          <p>{{ i18n "story_text_3" }}</p>
          <p>{{ i18n "story_text_4" }}</p>
          <p>{{ i18n "story_text_5" }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--=== end of Story ===-->

{{ partial "products_slider.html"}}

{{ end }}
